{% extends "admin/base_site.html" %}

{% load static %}

{% block content %}
    <div class="custom-admin-dashboard">

        <div class="module">
            <div class="dashboard-links">
                <div class="dashboard-item">
                    <h1 style="margin: 0; font-size: 2rem;">👥 Пользователи и группы</h1>
                </div>
            </div>
        </div>

        <div class="module">
            <div class="dashboard-links">
                <div class="dashboard-item">
                    <h3><a href="/admin/auth/group/">Группы ({% firstof groups_count '0' %})</a></h3>
                    <p>Управление группами</p>
                    <a href="/admin/auth/group/" class="button">Все группы</a>
                </div>
                <div class="dashboard-item">
                    <h3><a href="/admin/auth/user/">Пользователи ({% firstof users_count '0' %})</a></h3>
                    <p>Управление пользователями</p>
                    <a href="/admin/auth/user/" class="button">Все пользователи</a>
                </div>
            </div>
        </div>

    </div>

    <style>
        .custom-admin-dashboard {
            margin-bottom: 20px;
        }
        .dashboard-links {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(370px, 2fr));
            gap: 15px;
            margin-top: 15px;
        }
        .dashboard-item {
            background: var(--darkened-bg);
            padding: 15px;
            border-radius: 5px;
            border-left: 4px solid #417690;
        }
        .dashboard-item h3 {
            margin-top: 0;
            font-size: 1rem;
        }
        .dashboard-item a {
            text-decoration: none !important;
            color: #417690;
        }
        .dashboard-item a:hover {
            color: #264b5d;
        }
        .colM > h1 {
            display: none;
        }
        .dashboard-item p {
            margin: 0;
        }
        .button {
            display: inline-flex;
            margin: .5rem 0 0 .5rem;
            background-color: #417690;
            border: 0;
            color: #fff !important;
            padding: .5rem .75rem !important;
            border-radius: 5px;
            cursor: pointer;
            font-size: .75rem;
            transition: .3s all;
        }
        .button:hover {
            background-color: #264b5d;
        }
    </style>
{% endblock %}