<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Корзина</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="fav.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css?v=1">
</head>

<body class="d-flex flex-column vh-100">

    <div class="scroll-indicator" id="scrollIndicator">
        <div class="progress-bar" id="progressBar"></div>
    </div>

    <header>
        <div class="container-fluid" data-aos="fade-down">
            <div class="row">
                <div class="col">
                    <div>
                        <a href="index.html">
                            <picture>
                                <img src="img/logo.svg" alt="">
                            </picture>
                        </a>
                    </div>
                    <div>
                        <ul>
                            <li><a href="index.html">Главная</a></li>
                            <li><a href="catalog.html">Каталог</a></li>
                            <li><a href="company.html">О компании</a></li>
                            <li><a href="reviews.html">Отзывы</a></li>
                            <li><a href="contacts.html">Контакты</a></li>
                        </ul>
                    </div>
                    <div>
                        <picture data-bs-toggle="offcanvas" data-bs-target="#search">
                            <img src="img/search.svg" alt="">
                        </picture>
                        <a href="profile.html">
                            <picture>
                                <img src="img/user.svg" alt="">
                            </picture>
                        </a>
                        <a href="cart.html">
                            <picture>
                                <img src="img/cart.svg" alt="">
                            </picture>
                        </a>
                        <picture data-bs-toggle="offcanvas" data-bs-target="#menu">
                            <img src="img/menu.svg" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container inner__header">
            <div class="row">
                <div class="col">
                    <ul data-aos="fade-in" data-aos-delay="">
                        <li><a href="index.html">Главная</a></li>
                        <li>/</li>
                        <li>Корзина</li>
                    </ul>
                    <h1 data-aos="fade-in" data-aos-delay="300">Корзина</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="row">

                        <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-in" data-aos-delay="">
                            <h2>Оформление заказа</h2>
                            <form action="#" method="post" class="needs-validation" novalidate>
                                <b class="form__zag">Контактные данные</b>
                                <div class="form-floating mt-2">
                                    <input type="text" name="name" class="form-control" id="nameInput2" placeholder="Ваше имя" required>
                                    <label for="nameInput2">Ваше имя</label>
                                </div>
                                <div class="form-floating mt-3">
                                    <input type="email" name="email" class="form-control" id="emailInput2" placeholder="Ваш E-mail" required>
                                    <label for="emailInput2">Ваш E-mail</label>
                                </div>
                                <div class="form-floating mt-3">
                                    <input type="text" name="phone" class="form-control phone__mask" id="phoneInput2" placeholder="Ваш телефон" required>
                                    <label for="phoneInput2">Ваш телефон</label>
                                </div>
                                <b class="form__zag">Адрес доставки</b>
                                <div class="form-floating mt-2">
                                    <input type="text" name="city" class="form-control" id="city" placeholder="Город" required>
                                    <label for="city">Город</label>
                                </div>
                                <div class="form-floating mt-3">
                                    <input type="text" name="address" class="form-control" id="address" placeholder="Адрес" required>
                                    <label for="address">Адрес</label>
                                </div>
                                <b class="form__zag">Способ оплаты</b>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked required>
                                    <label class="form-check-label" for="exampleRadios1">
                                        Оплата онлайн <em>(Visa / MasterCard / Google Pay / Apple Pay)</em>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" required>
                                    <label class="form-check-label" for="exampleRadios2">
                                        Оплата наличными при доставке
                                    </label>
                                </div>
                                <b class="form__zag">Дополнительно</b>
                                <div class="form-floating mt-3">
                                    <textarea class="form-control" name="message" placeholder="Ваше сообщение" id="messageTextarea2" style="height: 100px"></textarea>
                                    <label for="messageTextarea2">Коментарий к заказу</label>
                                </div>
                                <p class="form__text mt-3 mb-3">Отправляя данное сообщение, вы соглашаетесь с нашей <a href="policy.html">политикой обработки персональных данных</a></p>
                                <button type="submit" class="send__button">Оформить заказ</button>
                            </form>
                        </div>

                        <div class="col-lg-5 offset-lg-1 order-1 order-lg-2 mb-5 mb-lg-0" data-aos="fade-in" data-aos-delay="300">
                            <div class="products__cart">
                                <div class="product__card">
                                    <div class="video__product">
                                        <div class="ratio ratio-3x4">
                                            <div>
                                                <a href="product.html">
                                                    <picture>
                                                        <img src="img/product_1.webp" alt="">
                                                    </picture>
                                                    <picture>
                                                        <img src="img/product_2.webp" alt="">
                                                    </picture>
                                                </a>
                                            </div>
                                        </div>
                                        <div>
                                            <a href="product.html"><h3>Peach Please</h3></a>
                                            <p>ALMOND</p>
                                            <p>5 389 ₸</p>
                                            <form class="delete__from__cart">
                                                <button>
                                                    <picture>
                                                        <img src="img/delete.svg" alt="">
                                                    </picture>
                                                </button>
                                            </form>
                                            <div class="product__quality">
                                                <form>
                                                    <button>
                                                        +
                                                    </button>
                                                </form>
                                                1
                                                <form>
                                                    <button>
                                                        -
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video__product">
                                        <div class="ratio ratio-3x4">
                                            <div>
                                                <a href="product.html">
                                                    <picture>
                                                        <img src="img/product_1.webp" alt="">
                                                    </picture>
                                                    <picture>
                                                        <img src="img/product_2.webp" alt="">
                                                    </picture>
                                                </a>
                                            </div>
                                        </div>
                                        <div>
                                            <a href="product.html"><h3>Peach Please</h3></a>
                                            <p>ALMOND</p>
                                            <p>5 389 ₸</p>
                                            <form class="delete__from__cart">
                                                <button>
                                                    <picture>
                                                        <img src="img/delete.svg" alt="">
                                                    </picture>
                                                </button>
                                            </form>
                                            <div class="product__quality">
                                                <form>
                                                    <button>
                                                        +
                                                    </button>
                                                </form>
                                                1
                                                <form>
                                                    <button>
                                                        -
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video__product">
                                        <div class="ratio ratio-3x4">
                                            <div>
                                                <a href="product.html">
                                                    <picture>
                                                        <img src="img/product_1.webp" alt="">
                                                    </picture>
                                                    <picture>
                                                        <img src="img/product_2.webp" alt="">
                                                    </picture>
                                                </a>
                                            </div>
                                        </div>
                                        <div>
                                            <a href="product.html"><h3>Peach Please</h3></a>
                                            <p>ALMOND</p>
                                            <p>5 389 ₸</p>
                                            <form class="delete__from__cart">
                                                <button>
                                                    <picture>
                                                        <img src="img/delete.svg" alt="">
                                                    </picture>
                                                </button>
                                            </form>
                                            <div class="product__quality">
                                                <form>
                                                    <button>
                                                        +
                                                    </button>
                                                </form>
                                                1
                                                <form>
                                                    <button>
                                                        -
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="itogo__block">
                                    <div>
                                        <b>Товаров всего</b>
                                        <span>3</span>
                                    </div>
                                    <div>
                                        <b>Заказ на сумму</b>
                                        <h3>16 167 ₸</h3>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer class="mt-auto">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-lg-3">
                        <b>Swipe Nails</b>
                        <ul>
                            <li><a href="reviews.html">Отзывы</a></li>
                            <li><a href="company.html">О компании</a></li>
                            <li><a href="career.html">Карьера</a></li>
                            <li><a href="contacts.html">Контакты</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-3">
                        <b>Поддержка</b>
                        <ul>
                            <li><a href="instructions.html">Инструкции</a></li>
                            <li><a href="materials.html">Материалы</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="refund.html">Условия возврата</a></li>
                            <li><a href="delivery.html">Доставка и оплата</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-3 mt-5 mt-lg-0">
                        <b>Оплата</b>
                        <ul>
                            <li><picture><img src="img/visa.svg" alt=""></picture> — Visa</li>
                            <li><picture><img src="img/mastercard.svg" alt=""></picture> — MasterCard</li>
                            <li><picture><img src="img/gPay.svg" alt=""></picture> — Google Pay</li>
                            <li><picture><img src="img/aPay.svg" alt=""></picture> — Apple Pay</li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-3 mt-5 mt-lg-0">
                        <b>Мы в соц.сетях</b>
                        <ul>
                            <li><a href="#">Instagram <picture><img src="img/arrow.svg" alt=""></picture></a></li>
                            <li><a href="#">Facebook <picture><img src="img/arrow.svg" alt=""></picture></a></li>
                            <li><a href="#">TikTok <picture><img src="img/arrow.svg" alt=""></picture></a></li>
                            <li><a href="#">YouTube <picture><img src="img/arrow.svg" alt=""></picture></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col cpy">
                        <hr>
                        <span>© 2026 Swipe Nails</span>
                        <a href="policy.html">Политика конфиденциальности</a>
                        <a href="offer.html">Оферта</a>
                        <a href="https://losdesign.ru" target="_blank">Разработка и поддержка сайта</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="offcanvas offcanvas-end" id="menu">
        <picture data-bs-dismiss="offcanvas" class="close__button">
            <img src="img/close.svg" alt="">
        </picture>
        <div class="offcanvas-body">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="catalog.html">Каталог</a></li>
                <li><a href="company.html">О компании</a></li>
                <li><a href="reviews.html">Отзывы</a></li>
                <li><a href="contacts.html">Контакты</a></li>
            </ul>
        </div>
    </div>

    <div class="offcanvas offcanvas-top" id="search">
        <picture data-bs-dismiss="offcanvas" class="close__button">
            <img src="img/close.svg" alt="">
        </picture>
        <div class="offcanvas-body">
            <b>Поиск по каталогу</b>
            <form action="#" method="get" class="needs-validation" novalidate>
                <input type="text" name="query" placeholder="Введите слово" class="form-control p-2" required>
                <button type="submit">Искать</button>
            </form>
        </div>
    </div>


    <!-- Стили -->
    <link rel="stylesheet" href="css/owl.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fancybox.css">
    <link rel="stylesheet" href="css/aos.css">
    <!-- Скрипты -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/fancybox.umd.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/jquery.maskedinput.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/gsap.js"></script>
    <script src="js/aos.js"></script>

</body>

</html>