<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Оферта</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="fav.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css?v=1">
</head>

<body class="d-flex flex-column vh-100">

    <div class="scroll-indicator" id="scrollIndicator">
        <div class="progress-bar" id="progressBar"></div>
    </div>

    <header>
        <div class="container-fluid" data-aos="fade-down">
            <div class="row">
                <div class="col">
                    <div>
                        <a href="index.html">
                            <picture>
                                <img src="img/logo.svg" alt="">
                            </picture>
                        </a>
                    </div>
                    <div>
                        <ul>
                            <li><a href="index.html">Главная</a></li>
                            <li><a href="catalog.html">Каталог</a></li>
                            <li><a href="company.html">О компании</a></li>
                            <li><a href="reviews.html">Отзывы</a></li>
                            <li><a href="contacts.html">Контакты</a></li>
                        </ul>
                    </div>
                    <div>
                        <picture data-bs-toggle="offcanvas" data-bs-target="#search">
                            <img src="img/search.svg" alt="">
                        </picture>
                        <a href="profile.html">
                            <picture>
                                <img src="img/user.svg" alt="">
                            </picture>
                        </a>
                        <a href="cart.html">
                            <picture>
                                <img src="img/cart.svg" alt="">
                            </picture>
                        </a>
                        <picture data-bs-toggle="offcanvas" data-bs-target="#menu">
                            <img src="img/menu.svg" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container inner__header">
            <div class="row">
                <div class="col">
                    <ul data-aos="fade-in" data-aos-delay="">
                        <li><a href="index.html">Главная</a></li>
                        <li>/</li>
                        <li>Оферта</li>
                    </ul>
                    <h1 data-aos="fade-in" data-aos-delay="300">Оферта</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center" data-aos="fade-in" data-aos-delay="600">
                <div class="col-lg-10">
                    <p>Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности
                        позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Задача
                        организации, в особенности же постоянный количественный рост и сфера нашей активности обеспечивает широкому
                        кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Не
                        следует, однако забывать, что реализация намеченных плановых заданий способствует подготовки и реализации
                        соответствующий условий активизации. Задача организации, в особенности же дальнейшее развитие различных форм
                        деятельности позволяет выполнять важные задания по разработке дальнейших направлений развития.</p>
                </div>
            </div>
        </div>

    </main>

    <footer class="mt-auto">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-lg-3">
                        <b>Swipe Nails</b>
                        <ul>
                            <li><a href="reviews.html">Отзывы</a></li>
                            <li><a href="company.html">О компании</a></li>
                            <li><a href="career.html">Карьера</a></li>
                            <li><a href="contacts.html">Контакты</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-3">
                        <b>Поддержка</b>
                        <ul>
                            <li><a href="instructions.html">Инструкции</a></li>
                            <li><a href="materials.html">Материалы</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="refund.html">Условия возврата</a></li>
                            <li><a href="delivery.html">Доставка и оплата</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-3 mt-5 mt-lg-0">
                        <b>Оплата</b>
                        <ul>
                            <li><picture><img src="img/visa.svg" alt=""></picture> — Visa</li>
                            <li><picture><img src="img/mastercard.svg" alt=""></picture> — MasterCard</li>
                            <li><picture><img src="img/gPay.svg" alt=""></picture> — Google Pay</li>
                            <li><picture><img src="img/aPay.svg" alt=""></picture> — Apple Pay</li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-3 mt-5 mt-lg-0">
                        <b>Мы в соц.сетях</b>
                        <ul>
                            <li><a href="#">Instagram <picture><img src="img/arrow.svg" alt=""></picture></a></li>
                            <li><a href="#">Facebook <picture><img src="img/arrow.svg" alt=""></picture></a></li>
                            <li><a href="#">TikTok <picture><img src="img/arrow.svg" alt=""></picture></a></li>
                            <li><a href="#">YouTube <picture><img src="img/arrow.svg" alt=""></picture></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col cpy">
                        <hr>
                        <span>© 2026 Swipe Nails</span>
                        <a href="policy.html">Политика конфиденциальности</a>
                        <a href="offer.html">Оферта</a>
                        <a href="https://losdesign.ru" target="_blank">Разработка и поддержка сайта</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="offcanvas offcanvas-end" id="menu">
        <picture data-bs-dismiss="offcanvas" class="close__button">
            <img src="img/close.svg" alt="">
        </picture>
        <div class="offcanvas-body">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="catalog.html">Каталог</a></li>
                <li><a href="company.html">О компании</a></li>
                <li><a href="reviews.html">Отзывы</a></li>
                <li><a href="contacts.html">Контакты</a></li>
            </ul>
        </div>
    </div>

    <div class="offcanvas offcanvas-top" id="search">
        <picture data-bs-dismiss="offcanvas" class="close__button">
            <img src="img/close.svg" alt="">
        </picture>
        <div class="offcanvas-body">
            <b>Поиск по каталогу</b>
            <form action="#" method="get" class="needs-validation" novalidate>
                <input type="text" name="query" placeholder="Введите слово" class="form-control p-2" required>
                <button type="submit">Искать</button>
            </form>
        </div>
    </div>


    <!-- Стили -->
    <link rel="stylesheet" href="css/owl.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fancybox.css">
    <link rel="stylesheet" href="css/aos.css">
    <!-- Скрипты -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/fancybox.umd.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/jquery.maskedinput.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/gsap.js"></script>
    <script src="js/aos.js"></script>

</body>

</html>