{% extends 'includes/base.html' %}

{% load static %}

{% load custom_filters %}

{% block title %}
    {{ category }} — Swipe Nails
{% endblock %}

{% block keywords %}
    {{ category.keywords }}
{% endblock %}

{% block description %}
    {{ category.description }}
{% endblock %}

{% block content %}
    <main>
        <div class="container inner__header">
            <div class="row">
                <div class="col-lg-5" data-aos="fade-right">
                    <div class="ratio ratio-16x9 category__cover">
                        <div>
                            <picture>
                                <img src="{{ category.cover.url }}" alt="">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 mt-4 mt-lg-0">
                    <ul data-aos="fade-in" data-aos-delay="">
                        <li><a href="{% url 'content:home' %}">Главная</a></li>
                        <li>/</li>
                        <li><a href="{% url 'content:page' slug='catalog' %}">Каталог</a></li>
                        <li>/</li>
                        <li>{{ category }}</li>
                    </ul>
                    <h1 data-aos="fade-in" data-aos-delay="300">{{ category }}</h1>
                    {{ category.text | safe }}
                </div>
            </div>
        </div>

        <div class="container mt-lg-5 mb-5">
            <div class="row">
                {% if products %}
                    <div class="col-12 d-flex justify-content-end filters__block" data-aos="fade-in" data-aos-delay="">
                        <div class="form-floating" data-aos="fade-in" data-aos-delay="300">
                            <select class="form-select" id="floatingSelect3">
                                <option selected>Все</option>
                                {% for color in colors %}
                                    <option value="{{ color.id }}">{{ color }}</option>
                                {% endfor %}
                            </select>
                            <label for="floatingSelect3">Цвет</label>
                        </div>
                    </div>
                {% endif %}

                {% for product in products %}
                    <div class="col-6 col-md-3 col-lg-4 mt-5" data-aos="fade-in" data-aos-delay="">
                        <div class="product">
                            <div class="product__card">
                                <div class="ratio ratio-3x4">
                                    <div>
                                        <a href="{% url 'catalog:product' slug=product.slug %}">
                                            <div class="tags">
                                                {% if product.in_stock %}
                                                    {% if product.popular %}
                                                        <span class="hit">Хит продаж</span>
                                                    {% endif %}
                                                    {% if product.new %}
                                                        <span class="new">Новинка</span>
                                                    {% endif %}
                                                {% else %}
                                                    <span class="none">Нет в наличии</span>
                                                {% endif %}
                                            </div>
                                            <picture>
                                                <img src="{{ product.cover_1.url }}" alt="">
                                            </picture>
                                            <picture>
                                                <img src="{{ product.cover_2.url }}" alt="">
                                            </picture>
                                        </a>
                                    </div>
                                </div>
                                <div class="product__card__text">
                                    <a href="{% url 'catalog:product' slug=product.slug %}">
                                        <h3>{{ product.title }}</h3>
                                    </a>
                                    <p>{{ product.category | upper }}</p>
                                    <p>{{ product.price | price }} ₸</p>
                                </div>
                            </div>
                            {% if product.in_stock %}
                                <form>
                                    <button class="to__cart">
                                        В корзину
                                        <picture>
                                            <img src="{% static 'img/cart_white.svg' %}" alt="">
                                        </picture>
                                    </button>
                                </form>
                            {% else %}
                                <button class="to__cart to__cart__none">
                                    Сообщить о поступлении
                                </button>
                            {% endif %}
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12 text-center mt-5">
                        <p class="fs-4">Совсем скоро, тут будут наши ноготочки.</p>
                        <p>Пожалуйста, зайдите немного позже ...</p>
                    </div>
                {% endfor %}

            </div>
        </div>
    </main>
{% endblock %}