{% extends 'includes/base.html' %}

{% load static %}

{% load custom_filters %}

{% block title %}
    {{ product }} — Swipe Nails
{% endblock %}

{% block keywords %}
    {{ product.keywords }}
{% endblock %}

{% block description %}
    {{ product.description }}
{% endblock %}

{% block content %}
    <main>
        <div class="container inner__header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ratio ratio-3x4 product__photo" data-aos="fade-in">
                        <div>
                            <picture data-fancybox="photo" data-src="{{ product.cover_1.url }}">
                                <img src="{{ product.cover_1.url }}" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="product__photo mini__photos" data-aos="fade-in" data-aos-delay="200">
                        <div class="ratio ratio-1x1">
                            <div>
                                <picture data-fancybox="photo" data-src="{{ product.cover_2.url }}">
                                    <img src="{{ product.cover_2.url }}" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="ratio ratio-1x1">
                            <div>
                                <picture data-fancybox="photo" data-src="img/product_2.webp">
                                    <img src="img/product_2.webp" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="ratio ratio-1x1">
                            <div>
                                <picture data-fancybox="photo" data-src="img/product_2.webp">
                                    <img src="img/product_2.webp" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="ratio ratio-1x1">
                            <div>
                                <picture data-fancybox="photo" data-src="img/product_2.webp">
                                    <img src="img/product_2.webp" alt="">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ps-lg-5 mt-3 mt-lg-0">
                    <ul data-aos="fade-in" data-aos-delay="">
                        <li><a href="{% url 'content:home' %}">Главная</a></li>
                        <li>/</li>
                        <li><a href="{% url 'catalog:catalog' %}">Каталог</a></li>
                        <li>/</li>
                        <li>{{ product }}</li>
                    </ul>
                    <h1 data-aos="fade-in" data-aos-delay="300">{{ product }}</h1>
                    <div class="product__inner__details">
                        <div class="product__card__text">
                            <p data-aos="fade-in" data-aos-delay="">{{ product.category }}</p>
                            <p data-aos="fade-in" data-aos-delay="200">{{ product.price | price }} ₸</p>
                        </div>
                        <form action="#" method="post" data-aos="fade-in" data-aos-delay="400">
                            <button class="to__cart justify-content-center gap-3">
                                В корзину
                                <picture>
                                    <img src="{% static 'img/cart_white.svg' %}" alt="">
                                </picture>
                            </button>
                            <ul>
                                <li><picture><img src="{% static 'img/visa.svg' %}" alt=""></picture></li>
                                <li><picture><img src="{% static 'img/mastercard.svg' %}" alt=""></picture></li>
                                <li><picture><img src="{% static 'img/gPay.svg' %}" alt=""></picture></li>
                                <li><picture><img src="{% static 'img/aPay.svg' %}" alt=""></picture></li>
                            </ul>
                        </form>
                        <div class="product__full__description w-100" data-aos="fade-in" data-aos-delay="600">
                            {{ product.text_1 | safe }}

                            <div class="questions__block">
                                <div class="accordion-item">
                                    <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#q_1">
                                        Описание
                                        <picture>
                                            <img src="{% static 'img/arow.svg' %}" alt="">
                                        </picture>
                                    </button>
                                    <div id="q_1" class="accordion-collapse collapse">
                                        <div class="accordion-body">
                                            {{ product.text_2 | safe }}
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#q_2">
                                        Как оплатить
                                        <picture>
                                            <img src="{% static 'img/arow.svg' %}" alt="">
                                        </picture>
                                    </button>
                                    <div id="q_2" class="accordion-collapse collapse">
                                        <div class="accordion-body">
                                            {{ product.text_3 | safe }}
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#q_3">
                                        Покупка и возврат
                                        <picture>
                                            <img src="{% static 'img/arow.svg' %}" alt="">
                                        </picture>
                                    </button>
                                    <div id="q_3" class="accordion-collapse collapse">
                                        <div class="accordion-body">
                                            {{ product.text_4 | safe }}
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#q_4">
                                        FAQ
                                        <picture>
                                            <img src="{% static 'img/arow.svg' %}" alt="">
                                        </picture>
                                    </button>
                                    <div id="q_4" class="accordion-collapse collapse">
                                        <div class="accordion-body">
                                            {{ product.text_5 | safe }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5 pt-4">
            <div class="row">
                <div class="col-12 text-center mb-4">
                    <h2>Видео-отзывы</h2>
                </div>
                <div class="col-12" data-aos="fade-up">
                    <div class="owl-carousel owl-theme carousel__1">

                        <div class="item product">
                            <div class="product__card">
                                <div class="ratio ratio-3x4 video__review">
                                    <div>
                                        Загрузка видео ...
                                    </div>
                                </div>
                                <div class="video__product">
                                    <div class="ratio ratio-3x4">
                                        <div>
                                            <a href="#">
                                                <picture>
                                                    <img src="{% static 'img/product_1.webp' %}" alt="">
                                                </picture>
                                                <picture>
                                                    <img src="{% static 'img/product_2.webp' %}" alt="">
                                                </picture>
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        <a href="#"><h3>Peach Please</h3></a>
                                        <p>ALMOND</p>
                                        <p>5 389 ₸</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-5 benefits__block">
            <div class="row">
                {% for benefit in benefits %}
                    <div class="col-6 col-md-4 col-lg-3" data-aos="fade-in" data-aos-delay="{{ benefit.animation }}">
                        <div class="card__2">
                            <picture>
                                <img src="{{ benefit.icon.url }}" alt="">
                            </picture>
                            {{ benefit.title }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="container mt-5 pt-4 mb-5">
            <div class="row">
                <div class="col-12 text-center mb-4" data-aos="zoom-in">
                    <h2>Смотрите также</h2>
                </div>
                <div class="col-12" data-aos="fade-up">
                    <div class="owl-carousel owl-theme carousel__1">

                        <div class="item product">
                            <div class="product__card">
                                <div class="ratio ratio-3x4">
                                    <div>
                                        <a href="#">
                                            <div class="tags">
                                                <span class="hit">Хит продаж</span>
                                                <span class="new">Новинка</span>
                                            </div>
                                            <picture>
                                                <img src="{% static 'img/product_1.webp' %}" alt="">
                                            </picture>
                                            <picture>
                                                <img src="{% static 'img/product_2.webp' %}" alt="">
                                            </picture>
                                        </a>
                                    </div>
                                </div>
                                <div class="product__card__text">
                                    <a href="#"><h3>Peach Please</h3></a>
                                    <p>ALMOND</p>
                                    <p>5 389 ₸</p>
                                </div>
                            </div>
                            <form>
                                <button class="to__cart">
                                    В корзину
                                    <picture>
                                        <img src="{% static 'img/cart_white.svg' %}" alt="">
                                    </picture>
                                </button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}